
<div class="container mx-auto mt-10">
  <h1 class="text-4xl font-bold">記事一覧</h1>
  <ul class="mt-10">
    <% @posts.each do |post| %>
      <li class="mb-4">
        <%= link_to "#{post.title}", post, class: "text-xl text-blue-400 font-bold border-b border-blue-400" %>
      </li>
    <% end %>
  </ul>
</div>

<% if admin_signed_in? %>
  <div class="my-5">
    <%= link_to "記事を書く", new_post_path, class: "btn btn-sky" %>
  </div>
<% end %>
